button {
  color: blue;
  display: flex;
  justify-content: center;
  align-items: center;

}
table {
  border: 2px;
  margin: auto;
  text-align: center;
}
table,
td,
th {
  border: 1px solid black;
}
td {
  width: 100px;
 height: auto;
}
button {
  margin: auto;
}
